.header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__title {
    font-size: $font-big;
    font-weight: 400;
    margin: 0;
}

.header__title--bold {
    font-weight: 700;
}
