* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #f2f2f2;
    height: 100%;
}
